body {
  margin: 0;
  height: auto;
  width: 100%;
}

body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
}

#card-display.container {
  width: 100%;
  height: auto;
}

h1{
  color: #000;
  font-weight: 600;
  margin: 5px;
}

h3{
  margin: 5px;
}

#welcome {
  margin-top: 100px;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
  margin-top: 20px;
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-links{
  color: #000;
  font-weight: 600;
  align-content: flex-end;
}

#register .container-fluid{
  margin-top: 40px;
  max-width: 320px;
  background-image: url("./assets/images/flag.png");
}

 #card-display {
   // background-color: #0A2463;
   height: auto;
   width: 80%;
}

#display {
  width: 280px;
}

.card-img-top {
  width: 280px;
}

.card-img-overlay {
  width: 280px;
  height: 400px;
}

#flagImage{
  opacity: 0.70;
}

.img-responsive {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.card{
  // margin: 60px;
  width: 300px;
  padding: 5px;
  height: 400px;
}

.card-body{
  width: 280px;
  padding: 5px;
  height: 400px;
  color: #000;
  font-size: 18px;

}

.btn{
  margin-left: 20px;
  margin-right: 20px;
}

#addWord.container{
  width: 100%;
  height: 600px;
  background-color: #0A2463;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  height: 80px;
  max-width: 700px;
  align-content: center;
  margin-bottom: 80px;
}
